<h2> <%= @cocktail.name %></h2>


<div class="container">
  <div class="card-ingredient">
    <strong><p>Ingredients</p></strong>
  <% @cocktail.doses.each do |dose| %>

   <p> <%= dose.description %> <%= dose.ingredient.name %>
    <%= link_to '  delete', dose_path(dose), :method => :delete %> </p>
  <% end %>
  </div>
  <%= link_to 'Add Ingredients', new_cocktail_dose_path(@cocktail),class: "btn-add" %>
  <%= link_to 'Home Page', cocktails_path, class: "btn-add" %>

</div>
